{% extends "base.html" %}

{% block content %}

<!-- building blocks from http://zurb.com/building-blocks -->
<link rel="stylesheet" href="css/info_card.css" />

<h1><br/><img src="{{ SITEURL }}/theme/img/cesium-blue-light.png"
              style="height: 2em; padding-right: 0.5em;">Cesium</h1>
<hr/>
<h2>Open-Source Machine
  Learning for Time Series
  Analysis</br></h2>
<hr/>

<div class="row">
  <div class="medium-6 columns">
    <div class="box">
      <div class="info">
        <h4 class="text-center">Library</h4>
        
        <p><em>The cesium library calculates
          various <b>time-series features</b> for machine
          learning.  Use it in combination
          with scikit-learn
          or any existing Python library.</em></p>
        <a href="http://cesium.ml/docs/install.html" class="small button">Download</a>
      </div>
    </div>
  </div>
  
  <div class="medium-6 columns">
    <div class="box">
      <div class="info">
        <h4 class="text-center">Web Platform</h4>
        <p><em>The cesium web platform allows <b>interactive
          exploration</b> of machine learning pipelines.  Upload your
          time series files, select your machine learning model, and watch
          cesium do feature extraction and evaluation. </em></p>
      </div>
    </div>
  </div>

  <div class="medium-12 columns" style="padding-top: 1em">
    <div class="box">
      <div class="info">
        <h4 class="text-center">Try it out!</h4>
        <img src="./blog/theme/img/cesium_20160714_screenshot.png"
             style="padding-top: 1em; padding-bottom: 2em;"/>
        <ol>
          <li>Download the docker-compose file for Cesium:
            <pre>curl -Lo docker-compose.yml http://bit.ly/29GkVXY</pre>
          </li>

          <li>
            Ensure you have
            <a href="https://docs.docker.com/compose/install/">Docker Compose</a>
            up and running, then: <pre>docker-compose up</pre>
          </li>

          <li>
            Wait a few seconds and navigate to
            <pre>http://localhost:9000</pre>
          </li>

          <li>
            Create a project and GO! If you want some test data, an example header file can be downloaded with
            <pre>curl -Lo example-headers.dat http://bit.ly/29FtRXy</pre>, and time series data with <pre>curl -Lo example-series.tar.gz http://bit.ly/29HKmVZ</pre>
          </li>
        </ol>

      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
